@import '../../styles/variables.scss';

.cart {
  @include contentCenter;
  width: 920px;
  overflow: hidden;

  .priceArea {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .widtharea {
    width: 80%;
  }

  .right {
    margin-right: 50px;
  }
}
