.menuBox {
  margin-left: 2rem;

  .header {
    padding: 10px;

    .cateTitle {
      padding-bottom: 5px;
      color: #909090;
    }

    .cateTitleItem {
      position: relative;
      font-weight: normal;
      font-size: 24px;

      &::after {
        content: '';
        display: block;
        width: 40px;
        height: 4px;
        margin-top: 15px;
        background-color: #373737;
      }
    }
  }
}