@charset "utf-8";

.clear:after {
  content: '';
  display: block;
  clear: both;
}

// common
.bold {
  font-weight: 700;
}

.medium {
  font-weight: 500;
}

.inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}