$mainColor: #f6ca00;
$subColor: #333;
$borderGray: 1px solid #e9e9e9;
$borderWhite: 1px solid #fff;
$borderBlack: 1px solid #000;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin contentCenter {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}