.menuBox .leftWrap {
  width: 270px;
  display: inline-block;

  .lnb {
    width: 270px;
    background-color: #fff;
    padding: 15px 20px;
    border-top: 6px solid #5c5953;

    .lnbInner {
      .categoryWarp {
        .category {
          cursor: pointer;
          border-top: 1px solid #eeecec;
          box-sizing: border-box;
          overflow: hidden;

          .categoryTitle {
            padding: 20px;
            color: #5c5953;
            font-weight: bold;
            position: relative;

            &::after {
              content: '';
              background: url("../../../../assets/images/element.png") left top no-repeat;
              position: absolute;
              right: 0;
              top: 25px;
              width: 10px;
              height: 10px;
              background-size: 20px 10px;
            }
          }

          .viewAll {
            &::after {
              content: '';
              background: url("../../../../assets/images/allow.png") left top no-repeat;
              position: absolute;
              right: 0;
              top: 25px;
              width: 10px;
              height: 10px;
              background-size: 20px 10px;
            }
          }

          .active {
            color: #f2c000;
          }

          .childWrap {
            padding-bottom: 20px;

            .child {
              color: #909090;
              padding-left: 22px;
              position: relative;

              .childItems {
                padding: 10px 0px;
              }
            }
          }
        }
      }
    }
  }
}