.listWrap .menulistBox .item {
  position: relative;
  height: 335px;
  overflow: hidden;
  cursor: pointer;

  .itemSpacer {
    .itemImgBox {
      position: relative;
      display: block;
      height: 230px;
      overflow: hidden;
    }

    .itemIcon {
      position: absolute;
      left: 0;
      top: 0;
      width: 50px;
      height: 50px;
      padding-top: 18px;
      color: #fff;
      background-color: #f6ca00;
      text-align: center;
      font-size: 13px;
      z-index: 3;
    }

    .itemTextBox {
      padding: 30px 0;
      text-align: center;
      font-weight: normal;
      background-color: #e4e2e2;

      .itemTitle {
        font-size: 18px;
        font-weight: 500;
      }

      .itemPrice {
        padding-top: 6px;
        color: #909090;
      }
    }
  }
}