.allergyWrap {
  margin-top: 30px;

  .cell {
    position: relative;

    dl {
      position: relative;
      display: table-cell;
      width: 98px;
      border-top: 6px solid #373737;
      border-bottom: 1px solid #373737;
      text-align: center;

      &:first-child {
        dt {
          border-left: 0;
        }
      }
    }

    dt {
      padding: 15px 0;
      background-color: #cfc6bc;
      border-left: 1px solid #fff;
    }

    .status {
      width: 16px;
      height: 36px;
      margin: 18px auto 0 auto;

      &.yes {
        background: url('../../../../../assets/images/icon_aller.png') left top
          no-repeat;
        background-size: 48px 16px;
        background-position: 0 0;
      }

      &.half {
        background: url('../../../../../assets/images/icon_aller.png') left top
          no-repeat;
        background-position: -16px 0;
        background-size: 48px 16px;
      }

      &.no {
        background: url('../../../../../assets/images/icon_aller.png') left top
          no-repeat;
        background-position: -16px 0;
        background-size: 48px 16px;
      }
    }
  }
}

.classify {
  margin-top: 30px;

  .list {
    position: relative;
    margin: 10px 0 0 30px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 16px;
      height: 16px;
      margin: 0 0 0 -30px;
      background: url('../../../../../assets/images/icon_aller.png');
      background-size: 48px 16px;
    }
  }

  .list01::before {
    content: '';
    background-position: 0 0;
  }

  .list02::before {
    content: '';
    background-position: -16px 0;
  }

  .list03::before {
    content: '';
    background-position: -32px 0;
  }
}
