@import '../../../styles/variables.scss';

.cartItem {
  display: flex;
  position: relative;
  width: 880px;
  height: 226px;
  padding: 20px;
  border-top: $borderBlack;
  border-bottom: $borderBlack;
  margin-bottom: 2%;
  vertical-align: middle;

  .mainBox {
    .imgbox {
      width: 184px;
      height: 184px;
      margin-right: 15px;
    }
  }

  .orederPrice {
    position: relative;
    position: absolute;
    right: 50px;
    width: 174px;
    height: 225px;
    text-align: end;

    .CounterButton {
      position: absolute;
      right: -5px;
      border: $borderBlack;
      border-radius: 3px;

      .minusButton {
        width: 20px;
        background-image: url('../../../assets/images/free-icon-minus-7182122.png');
      }

      .count {
        width: 30px;
      }

      .plusButton {
        width: 20px;
        background-image: url('../../../assets/images/premium-icon-add-3502449.png');
      }
    }
  }
}
