@import '../../../styles/variables.scss';

.cartItem {
  display: flex;
  position: relative;
  width: 880px;
  height: 226px;
  padding: 20px;
  border-top: $borderBlack;
  border-bottom: $borderBlack;
  margin-bottom: 2%;
  vertical-align: middle;

  .mainBox {
    .imgbox {
      width: 184px;
      height: 184px;
      margin-right: 15px;
    }
  }

  .orederPrice {
    position: relative;
    position: absolute;
    right: 50px;
    width: 174px;
    height: 225px;
    text-align: end;

    .CounterButton {
      position: absolute;
      right: -5px;
      width: 81px;
      height: 30px;
      border: $borderBlack;
      border-radius: 3px;

      .minusButton {
        height: 30px;
        width: 30px;
      }

      .count {
        width: 26px;
        margin-right: -9px;
        border: none;
        background-color: transparent;
      }

      .plusButton {
        width: 30px;
        height: 30px;
        padding-bottom: 4px;
      }
    }
  }
}
