// 임시
header {
  background-color: #fff;
  height: 90px;
}

// 공통 
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contMenu {
  margin-top: 30px;

  .contMenuWrap .titleBox {
    width: 100%;
    background-color: #fff;
    position: relative;

    .title {
      padding: 53px 0 0 30px;
      height: 140px;
      font-size: 36px;
      font-weight: 500;
    }

    .tabWrap {
      position: absolute;
      right: 50px;
      top: 68px;
      width: auto;

      .tabMenu {
        display: flex;
        gap: 25px;
        font-size: 25px;

        .viewAll {
          color: #f2c000;
        }
      }
    }
  }

  .contMenuWrap .menuBox {
    display: flex;
    margin-top: 70px;
  }
}