/* 임시 */
body {
  background-color: #eeecec;
  padding: 30px;
}

header {
  background-color: #fff;
  height: 90px;
}

// 임시 끝

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* title */
.contMenuWrap {
  margin-top: 30px;
}

.contMenuWrap .titleBox {
  width: 100%;
  background-color: #fff;
  position: relative;
}

.contMenuWrap .titleBox .title {
  padding: 53px 0 0 30px;
  height: 140px;
  font-size: 36px;
  font-weight: 500;
}

.contMenuWrap .titleBox .tabWrap {
  position: absolute;
  right: 50px;
  top: 68px;
  width: auto;
}

.contMenuWrap .titleBox .tabMenu {
  display: flex;
  gap: 25px;
  font-size: 25px;
}

.tabMenu .viewAll {
  color: #f2c000;
}

/* menuBox */
.menuBox {
  display: flex;
  margin-top: 70px;
}